:root {
    --active-blue: #3498db;
    --dim-blue: rgb(140, 174, 204);
    --neutral-blue: #b8d0e0;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto Slab', Arial, Helvetica, sans-serif;
}

.app {
    background-color: #bcdbec;
}

.app-container {
    background-color: white;
    box-shadow: 2px 2px 2px gray;
    padding: 25px 20px;
    width: 330px;
    margin: 10vh auto;
    border: 16px solid var(--dim-blue);
}

.title {
    text-align: center;
    margin: auto;
    padding: 0;
}

.info-container {
    text-align: center;
    padding: 10px;
}

.loader {
    border: 5px solid #f3f3f3; 
    border-top: 5px solid var(--active-blue);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: auto;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.box-container {
    max-width: 295px;
    width: 100%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 5px;
}

.box {
    height: 45px;
    width: 45px;
    font-size: 30px;
    text-transform: uppercase;
    border: 3px solid var(--neutral-blue);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrong {
    background-color: lightgray;
    border-color: dimgray;
}

.close {
    background-color: antiquewhite;
    border-color: goldenrod
}

.correct {
    background-color: aquamarine;
    border-color: forestgreen;
}

.invalid {
    background-color: indianred;
    border-color: darkred;
}

.hidden {
    visibility: hidden;
}

.info-message {
    font-weight: bold;
}

.win-message {
    color: forestgreen;
}

.lose-message {
    color: darkred;
}

.pulse {
	background: white;
    border-color:  var(--active-blue);
	animation: pulse 3s infinite;
}

@keyframes pulse {
	0% {
        border-color:  var(--dim-blue);
	}

	25% {
        border-color:  var(--neutral-blue);
	}

	50% {
        border-color:  var(--active-blue);
	}

	75% {
        border-color:  var(--neutral-blue);
	}
}